
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top:-20px;
}
.imagelogo img{
    width: 350px;
    height: 600px;
}

.login_details{
    
    width: 450px;
    height: 400px;
    margin-left:30px;
    margin-top: 70px;
    /* box-shadow: 2px 2px 2px 2px grey; */
    border:2px solid  #F0F0F0;
}
.heading{
    text-align: center;
  font-family: 'Lobster', cursive;
    font-size: 30px;
  
}
.user_details{
    margin-left: 50px;
    margin-top: 10px;
   }
button{
    width:280px;
  padding: 8px;
    margin-top: 20px;
    border-radius: 5px;
    color: white;
    background-color: #B2DFFC;
    border:none;
}
h4 {
   width: 270px;
    text-align: center; 
    border-bottom: 1px solid  #F0F0F0;
    line-height: 0.1em;
    margin: 10px 0 20px; 
    color: gray;
    margin-top: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
 } 
 
 h4 span { 
     background:#fff; 
 
   margin-left: 10px;
 }
 a{
     text-decoration: none;
margin-left: 60px;
color: #455C8D;

 }
 p{
     margin-left: 100px;
     font-size: 14px;
     color: #455C8D;
    
 }
 .signup_details{
     margin-top: 50px;
     border:2px solid  #F0F0F0;
     padding: 5px;
 }
 #para{
     color: black;
     font-size: 14px;
 }
 #para1{
    margin-left: 150px;
 }
 .footer_links a{
     color:gray;
     font-size: 13px;
     text-align: center;
     margin-left: -1px;
     margin-right: 15px;
   
     

 }
 .footer_1{
    /* border:3px solid green; */
    text-align: center;
    margin-top: 60px;
 }
 .footer_2{
    /* border:3px solid green; */
    text-align: center;   
 }
 .footer_3{
    /* border:3px solid green; */
    text-align: center;   
 }
 @media screen and (max-width:768px) {
     .imagelogo{
         display: none;
     }

     
 }
 